body {	
	font: 15px/1.7em 'Open Sans', arial, sans-serif;
	background-color: #fff;   
}
p {	
	font: 15px/1.7em 'Open Sans', arial, sans-serif;
}
h1 {
	margin-bottom: .25em;
	color: #00AAFF;
}
h2 {
	margin-bottom: .5em;	
	color: #00AAFF;
}
h3 {
	margin-bottom: .75em;	
	font-weight: 600;
	color: #00AAFF;
}
h4, h5, h6 {
	margin-bottom: 1.25em;	
	color: #FFF;
}

input {
	font: 13px/1.7em 'Open Sans', arial, sans-serif;
}


/*整体框架布局*/
#content {	
	padding-top: 70px;
}
.widget {	
	position: relative;
	clear: both;	
	width: auto;	
	margin-bottom: 2em;
}	
.widget-header {	
	position: relative;	
	height: 40px;
	line-height: 40px;	
	background:-moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* IE10+ */
	background:linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";		
	border: 1px solid #D5D5D5;	
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;	
	-webkit-background-clip: padding-box;
}		
	.widget-header h3 {		
		position: relative;
		top: 2px;
		left: 10px;		
		display: inline-block;
		margin-right: 3em;		
		font-size: 14px;
		font-weight: 800;
		color: #00AAFF;
		line-height: 18px;		
		text-shadow: 1px 1px 2px rgba(255,255,255,.5);
	}
	.widget-header [class^="icon-"], .widget-header [class*=" icon-"] 
		{			
			display: inline-block;
			margin-left: 13px;
			margin-right: -2px;			
			font-size: 16px;
			color: #555;
			vertical-align: middle;			
		}
.widget-content {
	padding: 20px 15px 15px;	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.widget-header+.widget-content {
	border-top: none;	
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.widget-nopad .widget-content {
	padding: 0;
}
.widget-content:before,
.widget-content:after {
    content:"";
    display:table;
}
.widget-content:after {
    clear:both;
}
.widget-content {
    zoom:1;
}
.widget-table .widget-content {
	padding: 0;
}
.widget-table .table {
	margin-bottom: 0;	
	border: none;
}
.widget-table .table tr td:first-child {
	border-left: none;
}
.widget-table .table tr th:first-child {
	border-left: none;
}

.account-avatarbig img {
	width: 350px;
	height: 350px;
}     /*大头像尺寸*/

.page-title {
	padding: 5px 10px;
	margin-bottom: 1.25em;	
	font-size: 16px;
	font-weight: 600;
	color: #FFF;    /*右侧标题颜色*/
	
	background: rgb(110, 200, 241);
	background:-moz-linear-gradient(top, rgb(110, 200, 241) 100%); /* FF3.6+ */
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#00AAFF), color-stop(100%,#00AAFF)); /* Chrome,Safari4+ */
	background:-webkit-linear-gradient(top, rgb(110, 200, 241) 100%); /* Chrome10+,Safari5.1+ */
	background:-o-linear-gradient(top, rgb(110, 200, 241) 100%); /* Opera11.10+ */
	background:-ms-linear-gradient(top,rgb(110, 200, 241) 100%); /* IE10+ */
	background:linear-gradient(top, rgb(110, 200, 241) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049');
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A515B', endColorstr='#3C4049')";	
	border-radius: 4px;	
	text-shadow: 1px 1px 2px  rgb(110, 200, 241);
}
	.page-title i {
		margin-right: .4em;
	}

.table .action-td {
		
	text-align: center;
}

/*下拉框*/
#year{width:100px}
#month{width:100px}
#day{width:100px}
#sex{width:100px}

/*首页*/
.banner { 
	background: url(../img/xiuxiu.jpg) no-repeat center; 
	height: 290px; margin: 10px auto; width: 100%; font-size: 16px; 
	font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; }
.texts { 
	line-height: 36px; padding: 90px 0 0 40px; 
	text-shadow: 1px 1px rgba(255,255,255,0.3); }
.texts p { 
	-webkit-transition: all 1s; 
	-moz-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s; 
	-webkit-transform: translate(60px); 
	-moz-transform: translate(60px); 
	-o-transform: translate(60px); 
	-ms-transform: translate(60px); 
	transform: translate(60px); }
.texts p:hover { 
	padding-left: 20px }
.texts p:nth-child(1) { 
	-webkit-animation: animations 3s ease-out 1s backwards; 
	-moz-animation: animations 3s ease-out 1s backwards; 
	-o-animation: animations 3s ease-out 1s backwards; 
	-ms-animation: animations 3s ease-out 1s backwards; 
	animation: animations 3s ease-out 1s backwards; }
.texts p:nth-child(2) { 
	-webkit-animation: animations 3s ease-out 4s backwards; 
	-moz-animation: animations 3s ease-out 4s backwards; 
	-o-animation: animations 3s ease-out 4s backwards; 
	-ms-animation: animations 3s ease-out 4s backwards; 
	animation: animations 3s ease-out 4s backwards; }
@-webkit-keyframes animations { 0% {
-webkit-transform:translate(0);
opacity:0;
}
 50% {
-webkit-transform:translate(30px);
opacity:.5;
}
 100% {
-webkit-transform:translate(60px);
opacity:1;
}
}
@-moz-keyframes animations { 0% {
-moz-transform:translate(0);
opacity:0;
}
 50% {
-moz-transform:translate(30px);
opacity:.5;
}
 100% {
-moz-transform:translate(60px);
opacity:1;
}
}
@-o-keyframes animations { 0% {
-o-transform:translate(0);
opacity:0;
}
 50% {
-o-transform:translate(30px);
opacity:.5;
}
 100% {
-o-transform:translate(60px);
opacity:1;
}
}
@-ms-keyframes animations { 0% {
-ms-transform:translate(0);
opacity:0;
}
 50% {
-ms-transform:translate(30px);
opacity:.5;
}
 100% {
-ms-transform:translate(60px);
opacity:1;
}
}
@keyframes animations { 0% {
transform:translate(0);
opacity:0;
}
 50% {
transform:translate(30px);
opacity:.5;
}
 100% {
transform:translate(60px);
opacity:1;
}
}
/* 我的日记列表 */
.blogs { margin: -5px 20px 20px 20px; position: relative; }
.blogs h3 { 
	font-size: 18px; font-weight: bold; margin:5px 5px; transition: all .5s }
.blogs h3 a { 
	color: #474645; }
.blogs h3:hover { 
	text-decoration: underline }
.blogs figure { 
	float: left; width: 20%; overflow: hidden; }
.blogs figure img { 
	width: 100%; margin: auto; 
	-moz-transition: all 0.5s; 
	-webkit-transition: all 0.5s; 
	-o-transition: all 0.5s; 
	transition: all 0.5s; }
.blogs figure:hover img { 
	-moz-transform: scale(1.1); 
	-webkit-transform: scale(1.1); 
	-o-transform: scale(1.1); 
	-ms-transform: scale(1.1); }
.blogs ul { 
	float: right; line-height: 30px; width: 65%; color: #474645; }
.blogs ul:hover { 
	cursor: pointer; }
.autor { 
	overflow: hidden; clear: both; margin: 10px 0 0 0; 
	display: inline-block; line-height: 26px; height: 26px; 
	color: #838383; background: #E9E9E9; width: 100% }
a.readmore { 
	background: #; color: #fff; 
	padding: 4px 6px; float: right; }

.blogs:hover::after { opacity: 1 }

/*小头像*/
.avatar { 
	margin: 10px auto; width: 160px; height: 160px; 
	border-radius: 100%; overflow: hidden; }
.avatar a { 
	display: block; padding-top: 100px; width: 160px; 
	background: url(../img/touxiang1.jpg) no-repeat; 
	background-size: 160px 160px; }
.avatar a span { 
	display: block; 
	margin-top: 63px; padding-top: 8px; width: 160px; height: 55px; 
	text-align: center; line-height: 20px; 
	color: #fff; 
	background: rgba(0, 0, 0, .5); 
	-webkit-transition: margin-top .2s ease-in-out; 
	-moz-transition: margin-top .2s ease-in-out; 
	-o-transition: margin-top .2s ease-in-out; 
	transition: margin-top .2s ease-in-out; }
.avatar a:hover span { 
	display: block; margin-top: 0; }

/*日记页时间轴*/

.box{width:100%;height:2000px;
	position:relative;z-index:2;}

/*内容发布区域*/
.box .boxcenter{

	width:500px;height:220px;
	background:#fff;
	position:absolute;top:80px;left:180px;
	border:1px solid #00AAFF;border-radius:8px;}
.box .boxcenter .boxc_t{
	height:30px;line-height:30px;}
.box .boxcenter .boxc_t h4{
	height:25px;
	padding:5px 30px 0 30px;
	background:#00AAFF;
}
.box .boxcenter .boxc_c{
	width:460px;
	height:130px;
	border:1px solid #00aaff;
	margin:8px auto;
	text-indent:20px;
	box-shadow:0 0 4px #00aaff;}
.box .boxcenter .boxc_b{
	width:80px;height:30px;position:absolute;right:10px;bottom:8px;}
.box .boxcenter .boxc_b a{
	font-size:14px;color:#fff;
	line-height:30px;
	background:#00AAFF;
	border-radius:6px;
	display:block;text-align:center;
	text-decoration:none;}
.box .boxcenter .boxc_b a:hover{background:#00AAFF;}

.box .timeline{
	width:60px;height:100%;position:absolute;top:50px;left:80px;border-right:2px solid #00AAFF;}/**/
.timeline .timeline_t{
	width:50px;height:50px;
	border-radius:50%;border:1px solid #fff;
	background:url("../img/touxiang7.jpg") no-repeat;background-size:100%;}
.timeline .nextbox{
	width:400px;height:80px;position:absolute;top:300px;left:80px;}
.a{
	width:400px;height:130px;background:#fff;
	border-radius:6px;margin-top:30px;font-size:16px;line-height:20px;text-indent:20px;
	word-break:break-all;position:relative;left:6px;}
.a .b {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		border: 2px solid #fff;
		background: #9DCFE1;
		position: absolute;
		top: 35px;
		left: -32px;
	}
#time{font-size:20px;color:#00aaaa;}
#hour{font-size:12px;color:#92CADE;}

.span9{
	width:80%;
	float:left;
	position: relative;
	margin-left:20px;
}



/*翻转导航格式*/
.clearfix:before,
.clearfix:after {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
.main {
	max-width: 69em;
	margin: 0 auto;
}
.column {
	float: left;
	width:50px;
	margin-top:200px;
	margin-right:50px;
	font-size: 1.5em;
}

button {
	border: none;
	padding: 0.6em 1.2em;
	color: #fff;
	font-family: 'Lato', Calibri, Arial, sans-serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	margin: 10px;
	border-radius: 2px;
	font-weight: 400;
	outline: none;
}
button {
	background: #92CADE;
}
button:hover,
button:active {
	background: #00aaff;
}

