html{
    width: 100%;   
    height: 100%;   
    overflow: scroll;   
    font-style: sans-serif; 
}
.col-md-1{
    width:120px;
    height:60px;
}
.right{
        width:10%;
        float:right;
       
          
    }
    .t1{
        border-collapse:separate;
      }
      .f{
        float: right;
        text-align: center;
      }
      .two{
        width:100px;
        height:100px; 
      }
      .list-group-item.unread {
        background-color: #fefefe;
      }
      .list-group-item.unread:hover{
        background-color: #d9edf7;
      }
      .list-group-item.brower {
        background-color: #d9edf7;
      }
      .list-group-item.brower:hover{
        background-color: #dff0d8;
      }
      
      
      .list-group-item.finish {
        background-color: #dff0d8;
      }
      .list-group-item.finish:hover {
        background-color: #c1e2b3;
      }
      .box{
        width:70px;
        padding:5px;
        margin: 10px;
        margin: 10em
    }
    .abc
       {
           position: absolute;
           bottom: 0;
           height: 30px;
           width: 100%;
           background-color:#00aaff;
       }
       .content-l detail{
        margin-right:80px;
        width:200px
       }
       
    /**
     * description: footer 共用底部;
     * author:myx;
     * date:2017-07;
     */
    
  /* 底部区域 */
  .hr0{ 
    height:1px;
    border:none;
    border-top:1px solid #555555;
    }
  
    .footer-wrapper {
      line-height:  20px;
      background-color: #FFFFFF;
      margin: 0 auto;
    }

  .footer-wrapper a {
      color: #ababab;
      margin-top:-100px;
  }

  .footer-wrapper .footer {
      position: relative;
      width: 1180px;
      height: 5px;
      margin: 0 auto;
  }

  .footer-wrapper .footer-list {
      position: absolute;
      top: 0px;
      left: 0px;
  }

  .footer-wrapper .footer-list a {
      margin-right: 15px;
  }

  .footer-wrapper .footer-units {
      position: absolute;
      top: 30px;
      left: 0px;
  }

  .footer-wrapper .footer-media {
      position: absolute;
      top: 0px;
      left: 844px;
  }

  .footer-wrapper .footer-media a {
      margin-right: 15px;
  }

  .footer-wrapper .footer-media a:hover {
      text-decoration: none;
  }

  .footer-wrapper .footer-media .iconfont {
      margin-right: 5px;
      font-size: 20px;
      vertical-align: middle;
  }

  .footer-wrapper .footer-msg {
      position: absolute;
      top: 25px;
      left: 844px;
  }
  .tupian{
    width:60px;
    height:60px; 
  }